@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lỗi</title>
</head>
<body>
    <h2>
        Rất tiếc, đã có sự cố xảy ra khi xử lý yêu cầu của bạn!
    </h2>
</body>
</html>