USE [master]
GO
/****** Object:  Database [QL_NHASACH]    Script Date: 12/30/2022 3:44:14 AM ******/
CREATE DATABASE [QL_NHASACH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_NHASACH', FILENAME = N'D:\SqlServer2019\SQLServer2019LuuPhienBan\MSSQL15.NHANMIU263\MSSQL\DATA\QL_NHASACH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_NHASACH_log', FILENAME = N'D:\SqlServer2019\SQLServer2019LuuPhienBan\MSSQL15.NHANMIU263\MSSQL\DATA\QL_NHASACH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_NHASACH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_NHASACH]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](500) NULL,
	[DC] [nvarchar](500) NULL,
	[STK] [nvarchar](20) NULL,
	[SDT] [nvarchar](10) NULL,
	[MOTA] [nvarchar](500) NULL,
	[disabled] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUDE]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUDE](
	[MACD] [nchar](10) NOT NULL,
	[TENCD] [nvarchar](500) NULL,
	[HINHMINHHOA] [nvarchar](255) NULL,
	[MALOAI] [nchar](10) NULL,
	[disabled] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MADG] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [nchar](10) NULL,
	[MAKH] [int] NULL,
	[NGAYDANHGIA] [date] NULL,
	[DIEMDANHGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADH] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [int] NULL,
	[DCGIAO] [nvarchar](255) NULL,
	[SDT] [nvarchar](255) NULL,
	[QUOCGIA] [nvarchar](255) NULL,
	[THANHPHO] [nvarchar](255) NULL,
	[QUANHUYEN] [nvarchar](255) NULL,
	[PHUONGXA] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[HINHTHUC] [int] NULL,
	[TRANGTHAI] [int] NULL,
	[MAKH] [int] NULL,
	[MAKHM] [nchar](10) NULL,
	[MACN] [nchar](10) NULL,
	[HOTEN] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[MANV] [nvarchar](10) NULL,
	[TIENGIAM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANGCT]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANGCT](
	[MADH] [int] NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SL] [int] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [pk_DONHANGCT] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOKH] [nvarchar](255) NULL,
	[TENKH] [nvarchar](255) NULL,
	[DC] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[SDT] [nvarchar](10) NULL,
	[disabled] [int] NULL,
	[MATKHAU] [nvarchar](255) NULL,
	[DIEMTL] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKHM] [nchar](10) NOT NULL,
	[GIATIEN] [int] NULL,
	[NGAYBD] [date] NULL,
	[NGAYKET] [date] NULL,
	[DIEUKIEN] [int] NULL,
	[HINHTHUCKM] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
	[disabled] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAICHUDE]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICHUDE](
	[MALOAICD] [nchar](10) NOT NULL,
	[TENLOAICD] [nvarchar](500) NULL,
	[HINHMINHHOA] [nvarchar](255) NULL,
	[MACD] [nchar](10) NULL,
	[disabled] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAICD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIMATHANG]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMATHANG](
	[MALOAI] [nchar](10) NOT NULL,
	[TENLOAI] [nvarchar](500) NULL,
	[HINHMINHHOA] [nvarchar](255) NULL,
	[MAMH] [nchar](10) NULL,
	[disabled] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIQUYEN]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIQUYEN](
	[IDLOAIQUYEN] [int] IDENTITY(1,1) NOT NULL,
	[MALOAIQUYEN] [nchar](255) NULL,
	[TenLoaiQuyen] [nvarchar](255) NULL,
	[disabled] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLOAIQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIQUYENOFNHANVIEN]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIQUYENOFNHANVIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[IDLOAIQUYEN] [int] NOT NULL,
	[disabled] [int] NULL,
 CONSTRAINT [pk_LOAIQUYENOFNHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[IDLOAIQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIQUYENOFQUYEN]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIQUYENOFQUYEN](
	[IDQUYEN] [int] NOT NULL,
	[IDLOAIQUYEN] [int] NOT NULL,
	[disabled] [int] NULL,
 CONSTRAINT [pk_LOAIQUYENOFQUYEN] PRIMARY KEY CLUSTERED 
(
	[IDQUYEN] ASC,
	[IDLOAIQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MAMH] [nchar](10) NOT NULL,
	[TENMATHANG] [nvarchar](500) NULL,
	[disabled] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [nchar](10) NOT NULL,
	[TENCC] [nvarchar](500) NULL,
	[DC] [nvarchar](500) NULL,
	[STK] [nvarchar](20) NULL,
	[SDT] [nvarchar](10) NULL,
	[MOTA] [nvarchar](500) NULL,
	[disabled] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACCNHAP]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACCNHAP](
	[MANCC] [nchar](10) NOT NULL,
	[TENCC] [nvarchar](500) NULL,
	[DC] [nvarchar](500) NULL,
	[STK] [nvarchar](20) NULL,
	[SDT] [nvarchar](10) NULL,
	[MOTA] [nvarchar](500) NULL,
	[KYHIEUHD] [nvarchar](500) NULL,
	[KYHIEUMAUDH] [nvarchar](500) NULL,
	[disabled] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[TENNV] [nvarchar](255) NULL,
	[DC] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[SDT] [nvarchar](255) NULL,
	[NGAYSINH] [date] NULL,
	[disabled] [int] NULL,
	[MATKHAU] [nvarchar](255) NULL,
	[MACN] [nchar](10) NULL,
	[IDQUYEN] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXB]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXB](
	[MANXB] [nchar](10) NOT NULL,
	[TENNXB] [nvarchar](500) NULL,
	[DC] [nvarchar](500) NULL,
	[STK] [nvarchar](20) NULL,
	[SDT] [nvarchar](10) NULL,
	[MOTA] [nvarchar](500) NULL,
	[disabled] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEU] [int] IDENTITY(1,1) NOT NULL,
	[SOHD] [nchar](10) NULL,
	[KYHIEUHD] [nvarchar](500) NULL,
	[KYHIEUMAUDH] [nvarchar](500) NULL,
	[NGAYNHAP] [date] NULL,
	[NGAYHD] [date] NULL,
	[NGAYNHANHD] [date] NULL,
	[MACN] [nchar](10) NULL,
	[TONG] [float] NULL,
	[VAT] [float] NULL,
	[TIENVAT] [float] NULL,
	[THANHTIENVAT] [float] NULL,
	[GHICHU] [nvarchar](500) NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[TRANGTHAI] [int] NULL,
	[NGAYSUA] [date] NULL,
	[MANCC] [nchar](10) NULL,
	[LOAIPHIEU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPCT]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPCT](
	[MAPHIEU] [int] NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SL] [int] NULL,
	[THANHTIEN] [float] NULL,
	[THANHTIENVAT] [float] NULL,
	[DONGIA] [float] NULL,
	[DONGIAVAT] [float] NULL,
	[disabled] [int] NULL,
	[GHICHU] [nvarchar](1000) NULL,
 CONSTRAINT [pk_PHIEUNHAPCT] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPHIEU] [int] IDENTITY(1,1) NOT NULL,
	[NGAYXUAT] [date] NULL,
	[MACNGUI] [nchar](10) NULL,
	[MACNNHAN] [nchar](10) NULL,
	[NOINHAN] [nvarchar](1000) NULL,
	[GHICHU] [nvarchar](500) NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[TRANGTHAI] [int] NULL,
	[NGAYSUA] [date] NULL,
	[LOAIPHIEU] [int] NULL,
	[MAPHIEUNAP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUATCT]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUATCT](
	[MAPHIEU] [int] NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SL] [int] NULL,
	[GHICHU] [nvarchar](500) NULL,
	[disabled] [int] NULL,
 CONSTRAINT [pk_PHIEUXUATCT] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANGCAO]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANGCAO](
	[MA] [int] IDENTITY(1,1) NOT NULL,
	[Hinh] [nvarchar](255) NULL,
	[disabled] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[IDQUYEN] [int] IDENTITY(1,1) NOT NULL,
	[MAQUYEN] [nchar](255) NULL,
	[TenQuyen] [nvarchar](255) NULL,
	[disabled] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACHTG]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACHTG](
	[MASP] [nchar](10) NOT NULL,
	[MATG] [nchar](10) NOT NULL,
	[disabled] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
 CONSTRAINT [pk_SACHTG] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nchar](10) NOT NULL,
	[TENSP] [nvarchar](500) NULL,
	[NGAYDANG] [date] NULL,
	[GIABAN] [int] NULL,
	[GIANHAP] [int] NULL,
	[MANCC] [nchar](10) NULL,
	[MANXB] [nchar](10) NULL,
	[XUATXU] [nvarchar](500) NULL,
	[THUONGHIEU] [nvarchar](500) NULL,
	[NGONNGU] [nvarchar](500) NULL,
	[KICHTHUOC] [nvarchar](500) NULL,
	[SOTRANG] [nvarchar](500) NULL,
	[MOTA] [nvarchar](500) NULL,
	[DOTUOI] [nvarchar](500) NULL,
	[HSD] [date] NULL,
	[SLTON] [int] NULL,
	[TRONGLUONG] [int] NULL,
	[disabled] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAMCN]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAMCN](
	[MASP] [nchar](10) NOT NULL,
	[MACN] [nchar](10) NOT NULL,
	[disabled] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
	[SLTON] [int] NULL,
 CONSTRAINT [pk_SANPHAMCN] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAMHINHANH]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAMHINHANH](
	[MAHINH] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [nchar](10) NULL,
	[HINH] [nvarchar](255) NULL,
	[disabled] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAMLOAICHUDE]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAMLOAICHUDE](
	[MASP] [nchar](10) NOT NULL,
	[MALOAICD] [nchar](10) NOT NULL,
	[disabled] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
 CONSTRAINT [pk_SANPHAMLOAICHUDE] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MALOAICD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 12/30/2022 3:44:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATG] [nchar](10) NOT NULL,
	[TENTG] [nvarchar](500) NULL,
	[NGAYSINH] [date] NULL,
	[DC] [nvarchar](500) NULL,
	[SDT] [nvarchar](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[GT] [nvarchar](3) NULL,
	[MOTA] [nvarchar](500) NULL,
	[disabled] [int] NULL,
	[NGUOITAO] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOISUA] [nvarchar](10) NULL,
	[NGAYSUA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHUDE] ([MACD], [TENCD], [HINHMINHHOA], [MALOAI], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'CDH001    ', N'VĂN HỌC', NULL, N'LMH001    ', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[CHUDE] ([MACD], [TENCD], [HINHMINHHOA], [MALOAI], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'CDH002    ', N'KINH TẾ', NULL, N'LMH001    ', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[CHUDE] ([MACD], [TENCD], [HINHMINHHOA], [MALOAI], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'CDH003    ', N'TÂM LÝ - KỸ NĂNG SỐNG', NULL, N'LMH001    ', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[DONHANG] ON 

INSERT [dbo].[DONHANG] ([MADH], [NGAYLAP], [TONGTIEN], [DCGIAO], [SDT], [QUOCGIA], [THANHPHO], [QUANHUYEN], [PHUONGXA], [EMAIL], [HINHTHUC], [TRANGTHAI], [MAKH], [MAKHM], [MACN], [HOTEN], [DIACHI], [MANV], [TIENGIAM]) VALUES (1, CAST(N'2022-12-28' AS Date), 175000, NULL, N'0334567891', NULL, N'', N'Quận, huyện', N'xã Tây Giang', N'nhanmius2@gmail.com', 0, 0, NULL, NULL, NULL, N'phạm văn a', N'xóm 2, thôn Nam Giang', NULL, 0)
INSERT [dbo].[DONHANG] ([MADH], [NGAYLAP], [TONGTIEN], [DCGIAO], [SDT], [QUOCGIA], [THANHPHO], [QUANHUYEN], [PHUONGXA], [EMAIL], [HINHTHUC], [TRANGTHAI], [MAKH], [MAKHM], [MACN], [HOTEN], [DIACHI], [MANV], [TIENGIAM]) VALUES (2, CAST(N'2022-12-28' AS Date), 70000, NULL, N'0354452248', NULL, N'Bình Định', N'Quận, huyện', N'xã Tây Giang', N'bemeo263@gmail.com', 0, 0, 1, NULL, NULL, N'Phạm Doãn NguyênTùng', N'xóm 2, thôn Nam Giang', NULL, 0)
INSERT [dbo].[DONHANG] ([MADH], [NGAYLAP], [TONGTIEN], [DCGIAO], [SDT], [QUOCGIA], [THANHPHO], [QUANHUYEN], [PHUONGXA], [EMAIL], [HINHTHUC], [TRANGTHAI], [MAKH], [MAKHM], [MACN], [HOTEN], [DIACHI], [MANV], [TIENGIAM]) VALUES (3, CAST(N'2022-12-28' AS Date), 35000, NULL, N'0354452248', NULL, N'Bình Định', N'Huyện Tây Sơn', N'xã Tây Giang', N'bemeo263@gmail.com', 0, 0, 1, NULL, NULL, N'Phạm Doãn NguyênTùng', N'xóm 2, thôn Nam Giang', NULL, 0)
SET IDENTITY_INSERT [dbo].[DONHANG] OFF
GO
INSERT [dbo].[DONHANGCT] ([MADH], [MASP], [SL], [THANHTIEN]) VALUES (1, N'SP002     ', 5, 175000)
INSERT [dbo].[DONHANGCT] ([MADH], [MASP], [SL], [THANHTIEN]) VALUES (2, N'SP004     ', 1, 35000)
INSERT [dbo].[DONHANGCT] ([MADH], [MASP], [SL], [THANHTIEN]) VALUES (2, N'SP005     ', 1, 35000)
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [HOKH], [TENKH], [DC], [EMAIL], [SDT], [disabled], [MATKHAU], [DIEMTL]) VALUES (1, N'Phạm Doãn Nguyên', N'Tùng', NULL, N'bemeo263@gmail.com', N'', 0, N'12345', 1050)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
INSERT [dbo].[KHUYENMAI] ([MAKHM], [GIATIEN], [NGAYBD], [NGAYKET], [DIEUKIEN], [HINHTHUCKM], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA], [disabled]) VALUES (N'KM50      ', 50000, CAST(N'2022-12-28' AS Date), CAST(N'2023-02-26' AS Date), NULL, NULL, NULL, CAST(N'2022-12-28' AS Date), NULL, NULL, 0)
GO
INSERT [dbo].[LOAICHUDE] ([MALOAICD], [TENLOAICD], [HINHMINHHOA], [MACD], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'LCDH001   ', N'TIỂU THUYẾT', NULL, N'CDH001    ', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[LOAICHUDE] ([MALOAICD], [TENLOAICD], [HINHMINHHOA], [MACD], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'LCDH002   ', N'Truyện ngắn', NULL, N'CDH001    ', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[LOAICHUDE] ([MALOAICD], [TENLOAICD], [HINHMINHHOA], [MACD], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'LCDH003   ', N'Ngôn tình', NULL, N'CDH001    ', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
GO
INSERT [dbo].[LOAIMATHANG] ([MALOAI], [TENLOAI], [HINHMINHHOA], [MAMH], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'LMH001    ', N'SÁCH TRONG NƯỚC', NULL, N'MH001     ', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[LOAIMATHANG] ([MALOAI], [TENLOAI], [HINHMINHHOA], [MAMH], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'LMH002    ', N'Foreign books', NULL, N'MH001     ', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[LOAIMATHANG] ([MALOAI], [TENLOAI], [HINHMINHHOA], [MAMH], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'LMH003    ', N'Đồ chơi', NULL, N'MH002     ', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
GO
INSERT [dbo].[MATHANG] ([MAMH], [TENMATHANG], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'MH001     ', N'SÁCH', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[MATHANG] ([MAMH], [TENMATHANG], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'MH002     ', N'ĐỒ CHƠI', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[MATHANG] ([MAMH], [TENMATHANG], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'MH003     ', N'DỤNG CỤ', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
GO
INSERT [dbo].[NHACC] ([MANCC], [TENCC], [DC], [STK], [SDT], [MOTA], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'NC001     ', N'Cty Phương Nam', N'Đà Nẵng', N'', N'0342354671', N'công ty cung cấp dụng cụ học tập cho học sinh', 0, NULL, CAST(N'2022-12-28' AS Date), N'admin', NULL)
INSERT [dbo].[NHACC] ([MANCC], [TENCC], [DC], [STK], [SDT], [MOTA], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'NC002     ', N'Công ty Thiên Long', N'Thành phố Hồ Chí Minh', N'', N'0567889331', N'công ty chuyên cung cấp bút bi, thước kẻ', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[NHACC] ([MANCC], [TENCC], [DC], [STK], [SDT], [MOTA], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'NC003     ', N'VPP Công Đoàn', N'Hà Nội', N'', N'0801112341', N'Văn phòng phẩm học sinh', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DC], [EMAIL], [SDT], [NGAYSINH], [disabled], [MATKHAU], [MACN], [IDQUYEN], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'admin', N'Admin', NULL, NULL, NULL, NULL, 0, N'123', NULL, NULL, NULL, CAST(N'2022-12-28' AS Date), NULL, NULL)
GO
INSERT [dbo].[NHAXB] ([MANXB], [TENNXB], [DC], [STK], [SDT], [MOTA], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'NXB01     ', N'NXB Giáo Dục Việt Nam', NULL, NULL, NULL, NULL, 0, NULL, CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[NHAXB] ([MANXB], [TENNXB], [DC], [STK], [SDT], [MOTA], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'NXB02     ', N'NXB Đồng Nai', NULL, NULL, NULL, NULL, 0, NULL, CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[NHAXB] ([MANXB], [TENNXB], [DC], [STK], [SDT], [MOTA], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'NXB03     ', N'NXB Lâm Đồng', NULL, NULL, NULL, NULL, 0, NULL, CAST(N'2022-12-28' AS Date), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[QUANGCAO] ON 

INSERT [dbo].[QUANGCAO] ([MA], [Hinh], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (1, N'Megasale_Mainbanner_Slide_840x320_1.jpg', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[QUANGCAO] ([MA], [Hinh], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (2, N'FAHASA-ONT12_840x320.jpg', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[QUANGCAO] ([MA], [Hinh], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (3, N'VPP_Main_banner_T10_840x320.jpg', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[QUANGCAO] OFF
GO
INSERT [dbo].[SACHTG] ([MASP], [MATG], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'SP001     ', N'TG001     ', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[SACHTG] ([MASP], [MATG], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'SP002     ', N'TG001     ', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[SACHTG] ([MASP], [MATG], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'SP003     ', N'TG001     ', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [NGAYDANG], [GIABAN], [GIANHAP], [MANCC], [MANXB], [XUATXU], [THUONGHIEU], [NGONNGU], [KICHTHUOC], [SOTRANG], [MOTA], [DOTUOI], [HSD], [SLTON], [TRONGLUONG], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'BB001     ', N'Bút bi energel 05', NULL, 25000, 20000, N'NC002     ', NULL, N'Việt Nam', NULL, NULL, N'1.0 x 1.0 x 24 cm', NULL, N'ra mực đều, mực dính đều trong giấy, có mùi thơm và không độc hại', N'12+', NULL, 200, 20, 0, NULL, CAST(N'2022-12-28' AS Date), N'admin', NULL)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [NGAYDANG], [GIABAN], [GIANHAP], [MANCC], [MANXB], [XUATXU], [THUONGHIEU], [NGONNGU], [KICHTHUOC], [SOTRANG], [MOTA], [DOTUOI], [HSD], [SLTON], [TRONGLUONG], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'SP001     ', N'Tiếng Anh 3 - Tập 2 - Sách Học Sinh (2022)', NULL, 135000, 130000, N'NC001     ', N'NXB01     ', N'Việt Nam', NULL, NULL, N'26.5 x 19 x 0.4 cm', N'79', N'Sách giáo khoa', N'3+', NULL, 500, NULL, 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [NGAYDANG], [GIABAN], [GIANHAP], [MANCC], [MANXB], [XUATXU], [THUONGHIEU], [NGONNGU], [KICHTHUOC], [SOTRANG], [MOTA], [DOTUOI], [HSD], [SLTON], [TRONGLUONG], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'SP002     ', N'Tập Viết 1', NULL, 45000, 34000, N'NC001     ', N'NXB01     ', N'Việt Nam', NULL, NULL, N'26.5 x 19 x 0.4 cm', N'79', N'Sách giáo khoa', N'3+', NULL, 470, NULL, 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[SANPHAMHINHANH] ON 

INSERT [dbo].[SANPHAMHINHANH] ([MAHINH], [MASP], [HINH], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (1, N'SP001     ', N'image_233238.jpg', 0, NULL, CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[SANPHAMHINHANH] ([MAHINH], [MASP], [HINH], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (3, N'SP002     ', N'image_241202.jpg', 0, NULL, CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[SANPHAMHINHANH] ([MAHINH], [MASP], [HINH], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (4, N'SP003     ', N'image_237843_1.jpg', 0, NULL, CAST(N'2022-12-28' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SANPHAMHINHANH] OFF
GO
INSERT [dbo].[SANPHAMLOAICHUDE] ([MASP], [MALOAICD], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'BB001     ', N'LCDH006   ', 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[SANPHAMLOAICHUDE] ([MASP], [MALOAICD], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'SP001     ', N'LCDH004   ', 0, NULL, CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[SANPHAMLOAICHUDE] ([MASP], [MALOAICD], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'SP001     ', N'LCDH005   ', 0, NULL, CAST(N'2022-12-28' AS Date), NULL, NULL)
GO
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [NGAYSINH], [DC], [SDT], [EMAIL], [GT], [MOTA], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'TG001     ', N'Bộ Giáo Dục Và Đào Tạo', NULL, NULL, NULL, NULL, NULL, NULL, 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [NGAYSINH], [DC], [SDT], [EMAIL], [GT], [MOTA], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'TG002     ', N'Nam Cao', NULL, NULL, NULL, NULL, NULL, NULL, 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [NGAYSINH], [DC], [SDT], [EMAIL], [GT], [MOTA], [disabled], [NGUOITAO], [NGAYTAO], [NGUOISUA], [NGAYSUA]) VALUES (N'TG003     ', N'Tô Hoài', NULL, NULL, NULL, NULL, NULL, NULL, 0, N'admin', CAST(N'2022-12-28' AS Date), NULL, NULL)
GO
ALTER TABLE [dbo].[CHINHANH] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[CHINHANH] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[CHUDE] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[CHUDE] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT ((0)) FOR [TONGTIEN]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT (NULL) FOR [MAKH]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT ((0)) FOR [TIENGIAM]
GO
ALTER TABLE [dbo].[DONHANGCT] ADD  DEFAULT ((0)) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((0)) FOR [DIEMTL]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[LOAICHUDE] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[LOAICHUDE] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[LOAIMATHANG] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[LOAIMATHANG] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[LOAIQUYEN] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[LOAIQUYENOFNHANVIEN] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[LOAIQUYENOFQUYEN] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[MATHANG] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[MATHANG] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[NHACC] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[NHACC] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[NHACCNHAP] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[NHACCNHAP] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[NHAXB] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[NHAXB] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  DEFAULT ((0)) FOR [LOAIPHIEU]
GO
ALTER TABLE [dbo].[PHIEUNHAPCT] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[PHIEUNHAPCT] ADD  DEFAULT (NULL) FOR [GHICHU]
GO
ALTER TABLE [dbo].[PHIEUXUAT] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[PHIEUXUAT] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[PHIEUXUAT] ADD  DEFAULT ((0)) FOR [LOAIPHIEU]
GO
ALTER TABLE [dbo].[PHIEUXUAT] ADD  DEFAULT ((0)) FOR [MAPHIEUNAP]
GO
ALTER TABLE [dbo].[PHIEUXUATCT] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[QUANGCAO] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[QUANGCAO] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[QUYEN] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[SACHTG] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[SACHTG] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[SANPHAMCN] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[SANPHAMCN] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[SANPHAMCN] ADD  DEFAULT ('0') FOR [SLTON]
GO
ALTER TABLE [dbo].[SANPHAMHINHANH] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[SANPHAMHINHANH] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[SANPHAMLOAICHUDE] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[SANPHAMLOAICHUDE] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[TACGIA] ADD  DEFAULT ('0') FOR [disabled]
GO
ALTER TABLE [dbo].[TACGIA] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[CHINHANH]  WITH CHECK ADD  CONSTRAINT [fk_CHINHANH_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CHINHANH] CHECK CONSTRAINT [fk_CHINHANH_KHNGS]
GO
ALTER TABLE [dbo].[CHINHANH]  WITH CHECK ADD  CONSTRAINT [fk_CHINHANH_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CHINHANH] CHECK CONSTRAINT [fk_CHINHANH_KHNGT]
GO
ALTER TABLE [dbo].[CHUDE]  WITH CHECK ADD  CONSTRAINT [fk_CD_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CHUDE] CHECK CONSTRAINT [fk_CD_KHNGS]
GO
ALTER TABLE [dbo].[CHUDE]  WITH CHECK ADD  CONSTRAINT [fk_CD_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CHUDE] CHECK CONSTRAINT [fk_CD_KHNGT]
GO
ALTER TABLE [dbo].[CHUDE]  WITH CHECK ADD  CONSTRAINT [fk_CD_LMH] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIMATHANG] ([MALOAI])
GO
ALTER TABLE [dbo].[CHUDE] CHECK CONSTRAINT [fk_CD_LMH]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [fk_DANHGIA_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [fk_DANHGIA_KH]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [fk_DANHGIA_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [fk_DANHGIA_SP]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [fk_DONHANG_CN] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [fk_DONHANG_CN]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [fk_DONHANG_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [fk_DONHANG_KH]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [fk_DONHANG_KM] FOREIGN KEY([MAKHM])
REFERENCES [dbo].[KHUYENMAI] ([MAKHM])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [fk_DONHANG_KM]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [fk_NV_dh] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [fk_NV_dh]
GO
ALTER TABLE [dbo].[DONHANGCT]  WITH CHECK ADD  CONSTRAINT [fk_DONGHANGCT_DONHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
GO
ALTER TABLE [dbo].[DONHANGCT] CHECK CONSTRAINT [fk_DONGHANGCT_DONHANG]
GO
ALTER TABLE [dbo].[DONHANGCT]  WITH CHECK ADD  CONSTRAINT [fk_DONHANGCT_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[DONHANGCT] CHECK CONSTRAINT [fk_DONHANGCT_SP]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [fk_KM_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [fk_KM_KHNGS]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [fk_KM_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [fk_KM_KHNGT]
GO
ALTER TABLE [dbo].[LOAICHUDE]  WITH CHECK ADD  CONSTRAINT [fk_LOAICD_CD] FOREIGN KEY([MACD])
REFERENCES [dbo].[CHUDE] ([MACD])
GO
ALTER TABLE [dbo].[LOAICHUDE] CHECK CONSTRAINT [fk_LOAICD_CD]
GO
ALTER TABLE [dbo].[LOAICHUDE]  WITH CHECK ADD  CONSTRAINT [fk_LOAICD_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[LOAICHUDE] CHECK CONSTRAINT [fk_LOAICD_KHNGS]
GO
ALTER TABLE [dbo].[LOAICHUDE]  WITH CHECK ADD  CONSTRAINT [fk_LOAICD_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[LOAICHUDE] CHECK CONSTRAINT [fk_LOAICD_KHNGT]
GO
ALTER TABLE [dbo].[LOAIMATHANG]  WITH CHECK ADD  CONSTRAINT [fk_LOAIMATHANG_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[LOAIMATHANG] CHECK CONSTRAINT [fk_LOAIMATHANG_KHNGS]
GO
ALTER TABLE [dbo].[LOAIMATHANG]  WITH CHECK ADD  CONSTRAINT [fk_LOAIMATHANG_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[LOAIMATHANG] CHECK CONSTRAINT [fk_LOAIMATHANG_KHNGT]
GO
ALTER TABLE [dbo].[LOAIMATHANG]  WITH CHECK ADD  CONSTRAINT [fk_MH_LMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MATHANG] ([MAMH])
GO
ALTER TABLE [dbo].[LOAIMATHANG] CHECK CONSTRAINT [fk_MH_LMH]
GO
ALTER TABLE [dbo].[LOAIQUYENOFNHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_LOAIQUYENOFNHANVIEN_LOAIQUYEN] FOREIGN KEY([IDLOAIQUYEN])
REFERENCES [dbo].[LOAIQUYEN] ([IDLOAIQUYEN])
GO
ALTER TABLE [dbo].[LOAIQUYENOFNHANVIEN] CHECK CONSTRAINT [FK_LOAIQUYENOFNHANVIEN_LOAIQUYEN]
GO
ALTER TABLE [dbo].[LOAIQUYENOFNHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_LOAIQUYENOFNHANVIEN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[LOAIQUYENOFNHANVIEN] CHECK CONSTRAINT [FK_LOAIQUYENOFNHANVIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[LOAIQUYENOFQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_LOAIQUYENOFQUYEN_LOAIQUYEN] FOREIGN KEY([IDLOAIQUYEN])
REFERENCES [dbo].[LOAIQUYEN] ([IDLOAIQUYEN])
GO
ALTER TABLE [dbo].[LOAIQUYENOFQUYEN] CHECK CONSTRAINT [FK_LOAIQUYENOFQUYEN_LOAIQUYEN]
GO
ALTER TABLE [dbo].[LOAIQUYENOFQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_LOAIQUYENOFQUYEN_QUYEN] FOREIGN KEY([IDQUYEN])
REFERENCES [dbo].[QUYEN] ([IDQUYEN])
GO
ALTER TABLE [dbo].[LOAIQUYENOFQUYEN] CHECK CONSTRAINT [FK_LOAIQUYENOFQUYEN_QUYEN]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [fk_MH_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [fk_MH_KHNGS]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [fk_MH_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [fk_MH_KHNGT]
GO
ALTER TABLE [dbo].[NHACC]  WITH CHECK ADD  CONSTRAINT [fk_NCC_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHACC] CHECK CONSTRAINT [fk_NCC_KHNGS]
GO
ALTER TABLE [dbo].[NHACC]  WITH CHECK ADD  CONSTRAINT [fk_NCC_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHACC] CHECK CONSTRAINT [fk_NCC_KHNGT]
GO
ALTER TABLE [dbo].[NHACCNHAP]  WITH CHECK ADD  CONSTRAINT [fk_NCCNHAP_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHACCNHAP] CHECK CONSTRAINT [fk_NCCNHAP_KHNGS]
GO
ALTER TABLE [dbo].[NHACCNHAP]  WITH CHECK ADD  CONSTRAINT [fk_NCCNHAP_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHACCNHAP] CHECK CONSTRAINT [fk_NCCNHAP_KHNGT]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_CN_NHANVIEN] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_CN_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_CN_QUYEN] FOREIGN KEY([IDQUYEN])
REFERENCES [dbo].[QUYEN] ([IDQUYEN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_CN_QUYEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_NV_SUA] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_NV_SUA]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_NV_Tao] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_NV_Tao]
GO
ALTER TABLE [dbo].[NHAXB]  WITH CHECK ADD  CONSTRAINT [fk_NHAXB_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHAXB] CHECK CONSTRAINT [fk_NHAXB_KHNGT]
GO
ALTER TABLE [dbo].[NHAXB]  WITH CHECK ADD  CONSTRAINT [fk_NXB_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHAXB] CHECK CONSTRAINT [fk_NXB_KHNGS]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [fk_CN_PHIEUNHAP] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [fk_CN_PHIEUNHAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [fk_CN_PHIEUNHAPNCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACCNHAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [fk_CN_PHIEUNHAPNCC]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [fk_PN_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [fk_PN_KHNGS]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [fk_PN_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [fk_PN_KHNGT]
GO
ALTER TABLE [dbo].[PHIEUNHAPCT]  WITH CHECK ADD  CONSTRAINT [fk_PNCT_KHNGS] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[PHIEUNHAPCT] CHECK CONSTRAINT [fk_PNCT_KHNGS]
GO
ALTER TABLE [dbo].[PHIEUNHAPCT]  WITH CHECK ADD  CONSTRAINT [fk_PNCT_KHNGT] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEU])
GO
ALTER TABLE [dbo].[PHIEUNHAPCT] CHECK CONSTRAINT [fk_PNCT_KHNGT]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [fk_CN_PHIEUXUATGUI] FOREIGN KEY([MACNGUI])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [fk_CN_PHIEUXUATGUI]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [fk_CN_PHIEUXUATNHAN] FOREIGN KEY([MACNNHAN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [fk_CN_PHIEUXUATNHAN]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [fk_PN_KHNGSXUAT] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [fk_PN_KHNGSXUAT]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [fk_PN_KHNGTXUAT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [fk_PN_KHNGTXUAT]
GO
ALTER TABLE [dbo].[PHIEUXUATCT]  WITH CHECK ADD  CONSTRAINT [fk_PXCT_KHNGS] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[PHIEUXUATCT] CHECK CONSTRAINT [fk_PXCT_KHNGS]
GO
ALTER TABLE [dbo].[PHIEUXUATCT]  WITH CHECK ADD  CONSTRAINT [fk_PXCT_KHNGT] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUXUAT] ([MAPHIEU])
GO
ALTER TABLE [dbo].[PHIEUXUATCT] CHECK CONSTRAINT [fk_PXCT_KHNGT]
GO
ALTER TABLE [dbo].[QUANGCAO]  WITH CHECK ADD  CONSTRAINT [fk_QUANGCAO_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[QUANGCAO] CHECK CONSTRAINT [fk_QUANGCAO_KHNGS]
GO
ALTER TABLE [dbo].[QUANGCAO]  WITH CHECK ADD  CONSTRAINT [fk_QUANGCAO_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[QUANGCAO] CHECK CONSTRAINT [fk_QUANGCAO_KHNGT]
GO
ALTER TABLE [dbo].[SACHTG]  WITH CHECK ADD  CONSTRAINT [fk_SACHTG_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[SACHTG] CHECK CONSTRAINT [fk_SACHTG_KHNGS]
GO
ALTER TABLE [dbo].[SACHTG]  WITH CHECK ADD  CONSTRAINT [fk_SACHTG_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[SACHTG] CHECK CONSTRAINT [fk_SACHTG_SP]
GO
ALTER TABLE [dbo].[SACHTG]  WITH CHECK ADD  CONSTRAINT [fk_SACHTG_TG] FOREIGN KEY([MATG])
REFERENCES [dbo].[TACGIA] ([MATG])
GO
ALTER TABLE [dbo].[SACHTG] CHECK CONSTRAINT [fk_SACHTG_TG]
GO
ALTER TABLE [dbo].[SACHTG]  WITH CHECK ADD  CONSTRAINT [fk_SCAHTG_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[SACHTG] CHECK CONSTRAINT [fk_SCAHTG_KHNGT]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [fk_MANCC_SP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [fk_MANCC_SP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [fk_MANXB_SP] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXB] ([MANXB])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [fk_MANXB_SP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [fk_SP_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [fk_SP_KHNGS]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [fk_SP_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [fk_SP_KHNGT]
GO
ALTER TABLE [dbo].[SANPHAMCN]  WITH CHECK ADD  CONSTRAINT [fk_CN_SP] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[SANPHAMCN] CHECK CONSTRAINT [fk_CN_SP]
GO
ALTER TABLE [dbo].[SANPHAMCN]  WITH CHECK ADD  CONSTRAINT [fk_SANPHAMCN_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[SANPHAMCN] CHECK CONSTRAINT [fk_SANPHAMCN_KHNGS]
GO
ALTER TABLE [dbo].[SANPHAMCN]  WITH CHECK ADD  CONSTRAINT [fk_SANPHAMCN_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[SANPHAMCN] CHECK CONSTRAINT [fk_SANPHAMCN_KHNGT]
GO
ALTER TABLE [dbo].[SANPHAMCN]  WITH CHECK ADD  CONSTRAINT [fk_SANPHAMCN_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[SANPHAMCN] CHECK CONSTRAINT [fk_SANPHAMCN_SP]
GO
ALTER TABLE [dbo].[SANPHAMHINHANH]  WITH CHECK ADD  CONSTRAINT [fk_SANPHAMHINHANH_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[SANPHAMHINHANH] CHECK CONSTRAINT [fk_SANPHAMHINHANH_SP]
GO
ALTER TABLE [dbo].[SANPHAMHINHANH]  WITH CHECK ADD  CONSTRAINT [fk_SPHINH_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[SANPHAMHINHANH] CHECK CONSTRAINT [fk_SPHINH_KHNGS]
GO
ALTER TABLE [dbo].[SANPHAMHINHANH]  WITH CHECK ADD  CONSTRAINT [fk_SPHINH_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[SANPHAMHINHANH] CHECK CONSTRAINT [fk_SPHINH_KHNGT]
GO
ALTER TABLE [dbo].[SANPHAMLOAICHUDE]  WITH CHECK ADD  CONSTRAINT [fk_SANPHAMLOAICHUDE_LOAICD] FOREIGN KEY([MALOAICD])
REFERENCES [dbo].[LOAICHUDE] ([MALOAICD])
GO
ALTER TABLE [dbo].[SANPHAMLOAICHUDE] CHECK CONSTRAINT [fk_SANPHAMLOAICHUDE_LOAICD]
GO
ALTER TABLE [dbo].[SANPHAMLOAICHUDE]  WITH CHECK ADD  CONSTRAINT [fk_SANPHAMLOAICHUDE_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[SANPHAMLOAICHUDE] CHECK CONSTRAINT [fk_SANPHAMLOAICHUDE_SP]
GO
ALTER TABLE [dbo].[SANPHAMLOAICHUDE]  WITH CHECK ADD  CONSTRAINT [fk_SPCD_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[SANPHAMLOAICHUDE] CHECK CONSTRAINT [fk_SPCD_KHNGS]
GO
ALTER TABLE [dbo].[SANPHAMLOAICHUDE]  WITH CHECK ADD  CONSTRAINT [fk_SPCD_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[SANPHAMLOAICHUDE] CHECK CONSTRAINT [fk_SPCD_KHNGT]
GO
ALTER TABLE [dbo].[TACGIA]  WITH CHECK ADD  CONSTRAINT [fk_TG_KHNGS] FOREIGN KEY([NGUOISUA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TACGIA] CHECK CONSTRAINT [fk_TG_KHNGS]
GO
ALTER TABLE [dbo].[TACGIA]  WITH CHECK ADD  CONSTRAINT [fk_TG_KHNGT] FOREIGN KEY([NGUOITAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TACGIA] CHECK CONSTRAINT [fk_TG_KHNGT]
GO
USE [master]
GO
